{% extends 'base.html' %}
{% block body %}
    <h1>Studentoversikt</h1>
    <!--
    <pre>
        {{ dump(students) }}
    </pre>
    -->
    {%if students %}
        <table>
            <thead>
                <th>Fornavn</th>
                <th>Etternavn</th>
            </thead>
            <tbody>
                {% for student in students %}
                <tr>
                    <td>{{ student.givenName }}</td>
                    <td>{{ student.lastName  }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}